body {
  background-color: #fffbf7;
}

h1 {
  color: #46484c;
}

p {
  color: #8b8b8bcc;
}

button {
  color: #fff;
  background: #025157;
}
input {
  background-color: rgb(50, 50, 116);
}
header {
  margin: 20px 0px 20px 20px;
  font-size: 0;
  line-height: 45px;
  height: 45px;
  font-family: sans-serif;
}

header > * {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.navbar {
  width: 70%;
  text-align: left;
}
li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
  color: #025157;
}

.actions > * {
  margin-left: 10px;
  margin-right: 10px;
}
.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
}
.actions a {
  color: #67b54b;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.logo {
  width: 15%;
}
