<template>
  <v-container>
    <div class="wrapper-container">
      <v-row class="text-center">
        <v-col cols="12">Reto #1</v-col>
        <v-col cols="12"> Promedio: {{ numbers2 }} </v-col>
        <br />
        <v-divider inset></v-divider>
        <v-col cols="12">Reto #2</v-col>
        <v-col cols="12"> Coche: {{ car2 }} </v-col>
        <v-divider inset></v-divider>
        <v-col cols="12">Reto #3</v-col>
        <v-col cols="6"> fb: {{ fb }} </v-col>
        <v-col cols="6"> ig: {{ ig }} </v-col>
        <v-divider inset></v-divider>
      </v-row>
    </div>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      greeting: "",
      numeros: [],
      numbers: [5, 3, 4, 7, 2, 1, 9, 7, 7],
      numbers2: 0,
      car: [
        ["brand", "Nissan"],
        ["model", "Versa"],
        ["year", 2020],
      ],
      car2: {},
      person: {
        firstName: "John",
        lastName: "Doe",
        links: {
          web: {
            blog: "https://johndoe.com",
          },
          social: {
            facebook: "https://facebook.com/john.doe",
            instagram: "https://instagram.com/john.doe",
          },
        },
      },
      fb: "",
      ig: "",
    };
  },
  mounted() {
    this.reto1();
    this.reto2();
    this.reto3();
  },
  methods: {
    reto1() {
      for (let i = 0; i < this.numbers.length; i++) {
        this.numbers2 = this.numbers2 + this.numbers[i];
      }
      this.numbers2 = this.numbers2 / this.numbers.length;
    },
    reto2() {
      this.car2 = Object.fromEntries(this.car);
    },
    reto3() {
      const {
        links: {
          social: { facebook: fb, instagram: ig },
        },
      } = this.person;
      this.fb = fb;
      this.ig = ig;
    },
  },
};
</script>
