<template>
  <v-container>
    <div class="wrapper-container">
      <v-row class="text-center">
        <v-col cols="12">Reto #1</v-col>
        <v-col cols="6"> El valor es {{ base }} </v-col>
        <v-col cols="6"> El exponente es {{ exponent }} </v-col>
        <v-col cols="12"> La potencia es {{ potencia }} </v-col>
        <br />
        <v-divider inset></v-divider>
        <v-col cols="12">Reto #2</v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="number1"
            label="Número 1"
            @change="reto2()"
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="number2"
            label="Número 2"
            @change="reto2()"
          ></v-text-field>
        </v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="12"> El número mayor es: {{ number3 }} </v-col>
        <br />
        <v-divider inset></v-divider>
      </v-row>
    </div>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      potencia: "",
      base: 4,
      exponent: 3,
      number1: 0,
      number2: 0,
      number3: 0,
    };
  },
  mounted() {
    this.reto1();
  },
  methods: {
    reto1() {
      this.potencia = this.base;
      for (let i = 1; i < this.exponent; i++) {
        this.potencia = this.potencia * this.base;
      }
    },
    reto2() {
      this.number1 = Number(this.number1);
      this.number2 = Number(this.number2);
      if (this.number1 < this.number2) {
        this.number3 = this.number2;
      } else {
        this.number3 = this.number1;
      }
    },
  },
};
</script>
