<template>
  <v-container>
    <div class="wrapper-container">
      <v-row class="text-center">
        <v-col cols="12">Ejercicio #1 deepEqual</v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="a"
            label="Campo 1"
            @change="validate()"
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="b"
            label="Campo 2"
            @change="validate()"
          ></v-text-field>
        </v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="12"> Resultado: {{ flag }} </v-col>
        <br />
        <v-divider inset></v-divider>
        <v-col cols="12">Ejercicio #2 chunk</v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="4"> </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="size"
            label="Tamaño"
            @change="chunk()"
          ></v-text-field>
        </v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="12">Arreglo dividido: {{ array2 }} </v-col>
        <br />
        <v-divider inset></v-divider>
        <v-col cols="12">Ejercicio #3 frequency</v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="8">
          <v-text-field
            v-model="cadena"
            label="Cadena"
            @change="frequency()"
          ></v-text-field>
        </v-col>
        <v-col cols="2"> </v-col>
        <v-col cols="12">Frecuencia de caracteres: {{ frequencyInfo }} </v-col>
        <br />
        <v-divider inset></v-divider>
      </v-row>
    </div>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      flag: "",
      a: "",
      b: "",
      array1: [1, 2, 3, 4, 5, 6, 7, 8],
      array2: [],
      size: 1,
      frequencyInfo: "",
      cadena: "",
    };
  },
  mounted() {},
  methods: {
    deepEqual(a, b) {
      if (typeof a === "object" && typeof b === "object") {
        let objA = Object.keys(a);
        let objB = Object.keys(b);
        if (objA.length === objB.length) {
          for (let i = 0; i < objA.length; i++) {
            if (!this.deepEqual(objA[i], objB[i])) {
              return false;
            }
          }
          return true;
        } else {
          return false;
        }
      } else {
        return a === b ? true : false;
      }
    },
    deepEqual2(a, b) {
      return a === b ? true : false;
    },
    chunk() {
      console.log(this.array1);
      let tempArray = [];
      for (let i = 0; i < this.array1.length; i++) {
        tempArray.push(this.array1.slice(i, i + this.size));
      }
      this.array2 = tempArray;
    },
    frequency() {
      let tempArray = [...this.cadena];
      let freq = {};
      tempArray.forEach((caracter) => {
        let n = 0;
        tempArray.forEach((validate) => {
          if (caracter === validate) {
            n++;
          }
        });
        freq[caracter] = n;
      });
      this.frequencyInfo = Object.keys(freq)
        .sort()
        .reduce((a, v) => {
          a[v] = freq[v];
          return a;
        }, {});
    },
    validate() {
      this.flag = this.deepEqual2(this.a, this.b);
    },
  },
};
</script>
