<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">Números primos </v-col>
      <v-col cols="12">{{ numeros }} </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      greeting: "",
      numeros: [],
    };
  },
  mounted() {
    this.reto3();
  },
  methods: {
    reto1() {
      const time = 13;
      if (time < 12) {
        this.greeting = "Good morning";
      } else if (time < 20) {
        this.greeting = "Good afternoon";
      } else if (time >= 20) {
        this.greeting = "Good evening";
      }
    },
    reto2() {
      for (let i = 0; i <= 100; i++) {
        if (i % 2 == 0) {
          this.numeros.push(i);
        }
      }
    },
    reto3() {
      for (let i = 0; i <= 100; i++) {
        let flag = true;
        if (i > 1) {
          for (let j = 2; j <= Math.sqrt(i); j++) {
            if (i % j == 0) {
              flag = false;
              break;
            }
          }
          if (flag) {
            this.numeros.push(i);
          }
        }
      }
    },
  },
};
</script>
