body {
  background-color: #f1e3ff;
}

h1 {
  color: #46484c;
  font-size: 60px;
}

p {
  color: #8b8b8bcc;
}

button {
  color: #fff;
  background: #025157;
}
input {
  background-color: rgb(223, 223, 238);
}
header {
  font-size: 0;
  line-height: 45px;
  height: 60px;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

main {
  margin-top: 30px;
}

header > * {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.navbar {
  width: 70%;
  text-align: left;
}
li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
  color: #025157;
}

.actions > * {
  margin-left: 10px;
  margin-right: 10px;
}
.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
}
.actions a {
  color: #67b54b;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.logo {
  width: 15%;
}

.anuncio {
  margin-left: 10px;
}
.anuncio h1 {
  font-family: "Century Gothic", serif;
  color: #025157;
}
.anuncio > p {
  font-family: "Century Gothic", serif;
  color: #343434;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
  padding: 0px;
}

.videoPromo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prework1 {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prework1 .base-verde {
  flex: 2;
  padding-right: 100px;
}

.prework1 .base-verde h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.prework1 .base-verde p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
}

.prework1 .base-verde button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
  margin-bottom: 1em;
}

.prework1 .base-verde img {
  width: 600px;
  margin: auto;
}

.prework1 .tarjeta-slider {
  flex: 1;
}

.prework1 .tarjeta-slider .carousel-indicators {
  position: unset;
}

.prework1 .tarjeta-slider .card {
  max-width: 400px;
  width: 130%;
  background-color: #fff;
  border-radius: 10px;
}

.prework1 .tarjeta-slider .card .card-media img {
  width: 100%;
  max-height: 30vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.prework1 .tarjeta-slider .card .card-media figure {
  margin-top: 0;
}

.prework1 .tarjeta-slider .card .card-media {
  position: relative;
}

.prework1 .tarjeta-slider .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prework1 .tarjeta-slider .card .card-media .company img {
  max-width: 75%;
}

.prework1 .tarjeta-slider .card .card-body,
.prework1 .tarjeta-slider .card .card-footer {
  padding: 25px;
}

.prework1 .tarjeta-slider .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
}

.prework1 .tarjeta-slider .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.prework1 .tarjeta-slider .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.prework1 .tarjeta-slider .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.prework1 .tarjeta-slider .card .card-body .results p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

.prework1 .tarjeta-slider .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.prework1 .tarjeta-slider .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-art {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-art .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-art .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-art .feature-content img {
  width: 50px;
}

.features .feature-art .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-art .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-art .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-art .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-art .feature-image figure,
.features .feature-art .feature-image img {
  margin-top: 0;
  height: 100%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .navbar,
  .actions {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  main {
    margin-top: 0px;
  }
  .banner > img {
    width: 100%;
  }
  .formulario > form {
    flex-direction: column;
  }
  .formulario > form > div > input {
    width: 80%;
    margin: 5px 0px 5px;
  }
  .promo {
    flex-direction: column;
  }

  .features,
  .cards {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0px;
    padding-right: 0px;
  }

  .feature-image {
    display: none;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}
