<template>
  <v-container>
    <v-row class="text-center">
      <v-col>
        <v-btn dark color="primary" @click="envio(1)">S1</v-btn>
      </v-col>
      <v-col>
        <v-btn dark color="primary" @click="envio(2)">S2</v-btn>
      </v-col>
      <v-col>
        <v-btn dark color="primary" @click="envio(3)">S3</v-btn>
      </v-col>
      <v-col>
        <v-btn dark color="primary" @click="envio(4)">S4</v-btn>
      </v-col>
      <v-col>
        <v-btn dark color="primary" @click="envio(5)">S5</v-btn>
      </v-col>
      <v-col>
        <v-btn dark color="primary" @click="envio(6)">S6</v-btn>
      </v-col>
    </v-row>
    <v-row class="text-center">
      <h4>POSTWORKS</h4>
      <v-col>
        <v-btn dark color="primary" @click="postwork(1)">1</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data() {
    return {};
  },
  mounted() {},
  methods: {
    envio(item) {
      console.log(item);
      switch (item) {
        case 1:
          this.$router.push("/S1");
          break;
        case 2:
          this.$router.push("/S2");
          break;
        case 3:
          this.$router.push("/S3");
          break;
        case 4:
          this.$router.push("/S4");
          break;
          case 5:
          this.$router.push("/S5");
          break;
          case 6:
          this.$router.push("/S6");
          break;
      }
    },
    postwork(item) {
      console.log(item);
      switch (item) {
        case 1:
          this.$router.push("/PostWork1");
          break;
      }
    },
  },
};
</script>
